
body{
    background-color: black;

}

.todo-container{
     /* margin-top: 5%;
     margin-left: 40%; */
 }

 .todo-header{
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-size: 30px;
 }

.todo-input{
    margin: 15px;
    margin-left: 43%;
    width: 15%;
    border-radius: 5px;
}

.todo-button{
    background-color: green;
    align-items: center;
    justify-content: center;
    margin-left: 47%;
    width: 93px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.myUnorderList{
    /* background-color: white; */
}

.todo-item{
    width: 40%;
    color: rgb(2, 2, 2);
    background-color: rgb(244, 235, 235);
    height: 30px;
    border-radius: 5px;
    text-align: center;
     justify-content: center;
     align-items: center;
     margin-left: 30%;
     margin-top: 50px;
 }

 .check-btn{
    margin-left: 38px;
    background-color: green;
    margin-top: 5px;
    float: right;
    margin-right: 63px;
    
 }

 .delete-btn{
    float: right;

    margin-right: 12px;
    margin-top: 5px;
 }
